body {
    font-family: 'Raleway', sans-serif;
}

.nawigacyja {
    font-weight: 600;
    font-size: 14px;
}

.myhrline {
    margin: 0;
}

.social-icons {
    font-size: 24px;
    color: #BDBDBD;
}

.contact-mini {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #828282;
    margin-top: 24px;
}

.lv-bg {
    background: linear-gradient(90deg, #003366 0%, rgba(0, 51, 102, 0) 60%), url("/media/cows.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.lv {
    color: #fff;
    margin-top: 1000px;
    margin-bottom: 1000px;
}

.bg-shape {
    border-radius: 4px;
    width: 1500px;
    height: 1200px;
}

#lv-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

#lv-under {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.lv-under-shape {
    border-radius: 4px;
    width: 450px;
    height: 75px;
}

#lv-head-text {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

#lv-under-text {
    color: #fff;
    font-size: 20px;
    font-weight: 250;
    line-height: 30px;
}

.lv-under-text-shape {
    border-radius: 4px;
    width: 1200px;
    height: 400px;
}

.animal-card {
    background: rgba(97, 97, 97, 0.36);
    backdrop-filter: blur(5px);
    border: 1px solid #CACACA;
    border-radius: 4px;
    width: 160px;
    height: 160px;
    padding: 36px;
    margin-top: 24px;
}

.prim-bg {
    background-color: #003366;
}

.footer-h {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

/* .map-shape {
    border-radius: 4px;
    width: 1000px;
    height: 1000px;
} */



