body {
    font-family: 'Raleway', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #003366;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Add padding to the bottom to avoid overlap with the footer */
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}